{% extends "base.html" %}

{% block title %}Welcome{% endblock title %}

{% block content %}
  <div class="jumbotron">
    <h2 class="display-4">Welcome to the Library API</h2>

    {% if user.is_authenticated %}

      <a class="btn btn-lg btn-primary" href="api/v1/" role="button">Browse the API &raquo;</a>
    {% else %}

    <p class="lead">Make your own Library, and keep a list of the
        books you have read or are in your collection.</p>

      <a class="btn btn-lg btn-primary" href="{% url 'account_signup' %}"
        role="button">Register &raquo;</a>
    {% endif %}
  </div>
{% endblock content %}
