{% extends "base.html" %}

{% block content %}
<div class="container">
  <p>
    <h2>All books</h2>
    {% for book in object_list %}
      <ul>
        <li>Title: {{ book.title }}</li>
        <li>Subtitle: {{ book.subtitle }}</li>
        <li>Author: {{ book.author }}</li>
        <li>ISBN: {{ book.isbn }}</li>
       </ul>
    {% endfor %}
  </p>
</div>
{% endblock content %}
